body{
    margin: 0;
}
.container{
    padding: 10px;
    font-size: 1rem;
}
h2{
    margin: 0;
    color: salmon;
    font-size: 1rem;
}
#form-page{
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 1rem;

}
#form{
    border-top: 2px solid salmon;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding:5px;
    font-size: 0.6rem;
}
#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
button{
    background-color: salmon;
    color:white;
    border: 1px solid salmon;
}
#set-time{
    display: flex;
    font-size: 0.6rem;
}
#booking-list{
    background-color:salmon;
    color:white;
    padding:10px;
}
.user{
background-color: rgb(240, 176, 169);
margin:5px;
}